on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
  release:
    types: [published]
  workflow_dispatch:

name: pkgdown

jobs:
  pkgdown:
    if: ${{ github.event_name == 'push' || startsWith(github.head_ref, 'pkgdown/') }}
    runs-on: ubuntu-latest
    # Only restrict concurrency for non-PR jobs
    concurrency:
      group: pkgdown-${{ github.event_name != 'pull_request' || github.run_id }}
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-tinytex@v1
        env:
          # install full prebuilt version
          TINYTEX_INSTALLER: TinyTeX
      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::pkgdown, local::.
          needs: website

      - name: Install system dependencies
        if: runner.os == 'Linux'
        run: sudo apt-get install -y ghostscript
      - name: Cache some pkgdown assets
        uses: actions/cache@v2
        with:
          path: |
            vignettes/articles/resources/*.gif
            vignettes/articles/resources/*.pdf
            vignettes/articles/cache/*.rds
          key: ${{ hashFiles('vignettes/articles/_child_examples.Rmd') }}-1-${{ github.sha }}
          restore-keys: |
            ${{ hashFiles('vignettes/articles/_child_examples.Rmd') }}-1-

      - name: Build pkgdown site
        run: pkgdown::build_site(new_process = FALSE)
        shell: Rscript {0}

      - name: Deploy to Netlify
        id: netlify-deploy
        uses: nwtgck/actions-netlify@v1.1
        with:
          publish-dir: 'reference'
          production-branch: main
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deploy-message:
            'Deploy from GHA: ${{ github.event.head_commit.message }} (${{ github.sha }})'
          enable-pull-request-comment: false
          enable-commit-comment: false
          enable-commit-status: true
          alias: deploy-preview-${{ github.event.number }}
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
