# For help debugging build failures open an issue on the RStudio community with the 'github-actions' tag.
# https://community.rstudio.com/new-topic?category=Package%20development&tags=github-actions
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }}) [Pandoc ${{matrix.config.pandoc}}]

    strategy:
      fail-fast: false
      matrix:
        config:
          # testing R release with last shipped pandoc version in RStudio IDE and new pandoc
          - {os: windows-latest, pandoc: '2.16.1',  r: 'release'}
          - {os: macOS-latest,   pandoc: '2.16.1',  r: 'release'}
          - {os: ubuntu-20.04,   pandoc: '2.16.1',  r: 'release'}
          - {os: ubuntu-20.04,   pandoc: 'devel',   r: 'release'}
          # testing older pandoc versions
          - {os: ubuntu-20.04,   pandoc: '2.14.2',  r: 'release'}
          - {os: ubuntu-20.04,   pandoc: '2.11.4',  r: 'release'}
          - {os: ubuntu-20.04,   pandoc: '2.7.3',   r: 'release'}
          - {os: ubuntu-20.04,   pandoc: '2.5',     r: 'release'}
          - {os: ubuntu-20.04,   pandoc: '2.0.0.1', r: 'release'}
          # testing other R versions
          - {os: ubuntu-20.04,   pandoc: '2.11.4',  r: 'oldrel'}
          - {os: ubuntu-20.04,   pandoc: '2.11.4',  r: 'devel', http-user-agent: 'release'}
          # testing other R versions
          - {os: ubuntu-20.04,   pandoc: '2.11.4',  r: 'oldrel'}
          - {os: ubuntu-20.04,   pandoc: '2.11.4',  r: 'devel', http-user-agent: "release" }

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-r@v1
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true

      - name: change temp dir
        if: runner.os == 'Windows'
        run: echo "TMPDIR=${{ runner.temp }}" >> $GITHUB_ENV
        shell: bash

      - name: Add some R options for later steps
        run: |
          cat("\noptions(tinytex.verbose = TRUE)\n", file = "~/.Rprofile", append = TRUE)
          cat(readLines("~/.Rprofile"), sep = "\n")
        shell: Rscript {0}

      - uses: r-lib/actions/setup-pandoc@v1
        if: matrix.config.pandoc != 'devel'
        with:
          pandoc-version: ${{ matrix.config.pandoc }}

      - uses: cderv/actions/setup-pandoc-nightly@nightly-pandoc
        if: matrix.config.pandoc == 'devel'

      - uses: r-lib/actions/setup-tinytex@v1
        env:
          # install full prebuilt version
          TINYTEX_INSTALLER: TinyTeX

      - name: Special setup for non-linux
        if: ${{ runner.os != 'Linux' }}
        run: |
          tlmgr --repository http://www.texlive.info/tlgpg/ install tlgpg

      - name: preinstall some CTAN packages
        run: |
          tlmgr option repository https://ctan.math.ca/tex-archive/
          tlmgr update --self
          tlmgr install achemso adobemapping ae algorithmicx algorithms ametsoc amscls apacite arphic babel-english babel-french beamer biblatex bookmark caption carlisle changepage charter chemgreek cite cjk cjkpunct cns colortbl courier crop ctablestack ctex datetime dblfloatfix draftwatermark endfloat endnotes enumitem environ epsf epstopdf eso-pic esvect etex-pkg everyhook everypage extsizes fancyhdr fandol floatflt fmtcount fontaxes fonts-tlwg footmisc forarray fp fpl garuda-c90 grfext hyphen-french hyphenat ifmtarg jknapltx kastrup lastpage latex-base-dev lettrine lineno listings logreq luatexbase luatexja ly1 marginnote marvosym mathpazo mathspec mdframed mhchem microtype minifp mnras morefloats moreverb mptopdf multirow needspace newfloat newtx norasi-c90 oberdiek palatino parskip pdfsync pgf placeins platex platex-tools preprint psfrag psnfss ptex ptex-base ptex-fonts ragged2e rsfs seqsplit setspace sidecap soul soulutf8 stix sttools subfigure svn-prov symbol tabto-ltx tcolorbox tex-gyre textcase titlesec totcount translator trimspaces ttfutils ucs uhc ulem units uplatex upquote uptex uptex-base uptex-fonts varwidth vruler wadalab wrapfig xcjk2uni xecjk xifthen xpinyin xstring xypic zapfchan zhmetrics zhmetrics-uptex zhnumber zref

      - uses: r-lib/actions/setup-r-dependencies@v1
        with:
          extra-packages: |
            rcmdcheck
            sessioninfo

      - name: Install system dependencies
        if: runner.os == 'Linux'
        run: sudo apt-get install -y ghostscript

      - name: Session info
        run: |
          options(width = 100)
          pkgs <- .packages(TRUE)
          sessioninfo::session_info(pkgs, include_base = TRUE)
          rmarkdown::find_pandoc()
          tinytex::tlmgr("--version")
          tinytex::tl_pkgs()
        shell: Rscript {0}

      - uses: r-lib/actions/check-r-package@v1

      - name: Upload check results
        if: failure()
        uses: actions/upload-artifact@main
        with:
          name: ${{ runner.os }}-r${{ matrix.config.r }}-results
          path: check
